@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;500;600;700&display=swap');


/* ------------------------------ */
/* ------------ ROOT ------------ */
/* ------------------------------ */


:root {
    font-family: 'Signika', sans-serif;
    --primary_color_1: #EDE1C0;
    --primary_color_2: #451D4F;
    --primary_color_3: #5F902D;
    --primary_color_4: #006633;
    --secondary_color_1: #D4A600;
    --secondary_color_2: #A63620;
    font-size: 62.5%;
}


/* ----------------------------------- */
/* ------------ RESET CSS ------------ */
/* ----------------------------------- */


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ----------------------------------- */
/* -------------- GLOBAL ------------- */
/* ----------------------------------- */

nav {
    display: flex;
}

nav>a {
    color: var(--primary_color_1);
    text-align: start;
    font-size: 2.4em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6em;
    font-weight: 300;
}

label.hamburger {
    display: block;
    background: var(--primary_color_1);
    width: 40px;
    height: 60px;
    position: relative;
    cursor: pointer;
}

input#hamburger {
    display: none
}

/* ----------------------------------- */
/* -------------- CLASS -------------- */
/* ----------------------------------- */

.social_media_desktop {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8rem 2rem 2rem;
    gap: 2rem;
}

.eco_cult {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.info_eco_cult {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.partenaire_info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* ------------ FONT ------------ */

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.2em;
    text-align: center;
}

.sub_title {
    font-size: 2.4em;
    font-weight: 600;
}

.sub_sub_title {
    font-size: 1.6em;
    font-weight: 400;
}

.sub_title_bgmenu {
    font-size: 3.2em;
    font-weight: 600;
    color: var(--primary_color_1);
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    font-size: 1.6em;
    font-weight: 300;
}

.paragraph_bgmenu {
    font-size: 1.6em;
    font-weight: 300;
    color: var(--primary_color_1);
    margin-left: auto;
    margin-right: auto;
}

.eco_color {
    color: var(--primary_color_4);
}

.culture_color {
    color: var(--secondary_color_2);
}

.job_art {
    font-size: 2em;
    font-weight: 500;
    color: var(--secondary_color_2);
}

.job_food {
    font-size: 2em;
    font-weight: 500;
    color: var(--primary_color_4);
}

/* ------------ BUTTON ------------ */

.cta_btn {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.2em;
}

/* ------------ NAV BAR ------------ */

.header_navbar_desktop {
    display: none;
}

.header_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary_color_1);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 0 0 1em;
}

.nav_mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6em;
    left: 0;
    right: 0;
    transform: translate(-1000px, 0);
    transition: all 0.8s ease;
    background-color: #000;
    gap: 4em;
    padding: 4em 3em 10em;
}

/* ------------ BURGER MENU ------------ */

.bg_icn {
    width: 100%;
}

.contact_informations {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

/* ------------ LINE STYLE ------------ */

.line {
    border-radius: 1em;
    position: absolute;
    height: 6px;
    width: 4em;
    background: #000;
    transition: 0.5s;
}

.line:nth-child(1) {
    top: 12px;
}

.line:nth-child(2) {
    top: 24px;
}

.line:nth-child(3) {
    top: 36px;
}

/* ------------ SPACER ------------ */

.hr_container {
    display: flex;
    justify-content: center;
}

.hr_container_bgmenu {
    display: flex;
    justify-content: left;
}

hr.rounded {
    border-top: 5px solid var(--primary_color_1);
    border-radius: 5px;
    width: 15rem;
}

/* ------------ FOOTER ------------ */

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1rem solid #EDE1C0;
    padding: 0rem 2rem 4rem;
    gap: 4rem;
    background: black;
    color: #EDE1C0;
}

.footer_logo img {
    width: 80%;
}

.footer_logo {
    display: flex;
    justify-content: center;
    padding: 2em 5em 0em;
}

.footer_container p {
    text-align: center;
    padding: 1em;
}

/* ------------ GRID ------------ */

.grid_container {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em;
}

.grid_container a {
    display: flex;
    justify-content: center;
}


.grid_container .cell {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.grid_container ul {
    list-style-type: none;
    padding: 0;
}

.grid_container a {
    text-decoration: none;
    color: inherit;
}

.list_footer {
    font-size: 1.6em;
    font-weight: 300;
}

/* ------------ SUB BAR ------------ */

.sub_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 1em;
    height: 6rem;
    padding: 1em;
}

.sub_bar input {
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    font-family: 'Signika', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

/* ------------ SOCIAL MEDIA ------------ */

.social_media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3em;
}

.social_media_icn {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.menu_img_desktop {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu_details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & .item {
        width: 70%;
    }

    & .price {
        font-size: 1.6em;
        font-weight: 700;
    }
}


/* ----------------------------------- */
/* ---------------- ID --------------- */
/* ----------------------------------- */

#header_logo {
    height: 4em;
    margin: 1em 3em;
}

#cta_btn {
    border-radius: 1em;
    border: solid 3px var(--primary_color_3);
    padding: 0.6em 1.3em;
    background-color: transparent;
    color: var(--primary_color_3);
    font-family: 'Signika', sans-serif;
    font-size: 1.8em;
    font-weight: 800;
}

/* ------------ BURGER MENU ------------ */

#burgermenu_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 8em;
    background-color: #000;
}

#ch {
    display: none;
}

#ch:checked+nav {
    transform: translate(0, 0);
    transition: all 0.8s ease;
}

#lab {
    display: block;
}

#menu_footer_desktop {
    display: none;
}

/* ------------ ICONE BURGER MENU ------------ */

#hamburger {
    display: none;
}


/* ------------ IMAGES ------------ */

#btm_img_accueil {
    max-height: 200px;
    object-fit: cover;
}

#btm_img_carte {
    max-height: 200px;
    object-fit: cover;
    object-position: 0 68%;
}

#btm_img_a_propos {
    max-height: 200px;
    object-fit: cover;
    object-position: 80% 0;
}

#btm_img_contact {
    max-height: 200px;
    object-fit: cover;
}

#img_Lucie_D {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 30%;
}

#img_Nicolas_R {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 10%;
}

#img_Martin_D {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}

#img_Caroline_D {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 85%;
}

#img_top {
    max-height: 200px;
    object-fit: cover;
}

/* ------------ SUB BAR ------------ */

#sub_btn {
    border-radius: 1em;
    border: solid 2px var(--primary_color_3);
    padding: 1em;
    background-color: transparent;
    color: var(--primary_color_3);
    font-family: 'Signika', sans-serif;
    font-size: 1.3em;
    font-weight: 800;
}










/* ------------ MEDIA QUERIES ------------ */


@media only screen and (min-width: 768px) {

    /* ------------ FOR DESKTOP ------------ */

    /* DISPLAY NONE */

    .header_navbar {
        display: none;
    }

    .cta_btn {
        display: none;
    }

    #text_mobile {
        display: none;
    }

    .grid_container {
        display: none;
    }

    .footer_logo {
        display: none;
    }

    .social_media {
        display: none;
    }

    #last_spacer {
        display: none;
    }

    /* GLOBAL */

    .eco_cult {
        display: flex;
        flex-direction: row;
        gap: 5em;
    }

    a {
        text-decoration: none;
        color: #EDE1C0;
    }

    /* CLASS */

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 14rem 5rem 2rem;
        gap: 5rem;
    }

    .desktop_nav {
        display: flex;
        align-items: center;
        gap: 5em;
    }

    .ul_desktop {
        display: flex;
        font-size: 2.4em;
        gap: 2em;
    }

    .desktop_nav a:hover {
        text-decoration: underline solid #006633 0.3em;
        text-decoration-skip-ink: none;
        text-underline-position: under;
    }

    .header_navbar_desktop {
        background-color: #EDE1C0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 5em;
        width: 100%;
        position: fixed;
        top: 0px;
    }

    .header_navbar_desktop a {
        color: #000;
    }

    .sub_bar {
        width: 80em;
    }

    .footer_container {
        align-items: center;
        padding: 5em 0em;
        gap: 10em;
    }

    .footer_container p {
        padding: 0.2em 0;
        text-align: left;
    }


    .footer_logo_desktop {
        padding: 0em;
    }

    .footer_logo_desktop img {
        margin: 5em;
        scale: (0.6);
    }

    .title {
        font-size: 5.2em;
    }

    .sub_sub_title {
        font-size: 2em;
    }

    .h3_desktop {
        font-size: 3em;
        font-weight: 500;
    }

    .p_desktop {
        font-size: 2.4em;
        padding: none;
    }

    .sub_title {
        font-size: 3.2em;
    }

    .paragraph {
        font-size: 2.4em;
    }

    .social_media_desktop {
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .logo_joy_social_media {
        scale: (0.6);
    }

    .menu_desktop {
        display: flex;
        justify-content: space-between;
        gap: 3em;
    }

    .menu_img_desktop {
        display: flex;
        max-height: 30em;
        width: 50%;
        object-fit: cover;
    }

    .menu_details {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        & .item {
            width: 70%;
            font-size: 2.4em;
        }

        & .price {
            font-size: 2.4em;
            font-weight: 700;
        }
    }

    .info_eco_cult {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 50%;
    }

    .partenaire_info {
        width: 50%;
    }

    /* ID */

    #cta_btn_desktop {
        border: solid #5F902D 0.1em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        background: transparent;
        font-family: 'Signika', sans-serif;
        font-size: 2em;
        font-weight: 700;
        color: #5F902D;
        max-height: 3em;
    }

    #cta_btn_desktop:hover {
        background: #5F902D;
        color: #EDE1C0;
    }

    #header_logo {
        max-height: 3em;
        object-fit: cover;
        margin: 0;
    }

    #img_top {
        max-height: 100rem;
        object-fit: cover;
    }

    #btm_img_accueil {
        max-height: 40rem;
        object-fit: cover;
    }

    #btm_img_carte {
        max-height: 40rem;
        object-fit: cover;
        object-position: 0 68%;
    }

    #btm_img_a_propos {
        max-height: 40rem;
        object-fit: cover;
        object-position: 80% 10%;
    }

    #btm_img_contact {
        max-height: 40rem;
        object-fit: cover;
    }

    #social_media_menu {
        display: flex;
        align-items: center;
    }

    #menu_footer_desktop {
        display: flex;
        justify-content: center;
        gap: 5em;
    }

    #card_partenaire {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #img_Lucie_D {
        max-height: 300px;
        width: 500px;
        object-fit: cover;
    }

    #img_Nicolas_R {
        max-height: 300px;
        width: 500px;
        object-fit: cover;
        order: 2;
    }

    #img_Martin_D {
        max-height: 300px;
        width: 500px;
        object-fit: cover;
    }

    #img_Caroline_D {
        max-height: 300px;
        width: 500px;
        object-fit: cover;
        order: 2;
    }
}